<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
   
<h1>Home Page URL Shortener</h1>
<% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
<% } %>

<div>
    <form method= "POST" action="/url">
        <label>Enter Your original URL</label>
        <input type="text" name="redirectUrl" placeholder="https://example.com"    
        />
        <button type="submit">Generate</button>
    </form>
</div>
<div>   
    <% if (locals.urls) { %>
    <table>
<thead>
    <th>S.No</th>
    <th>Short ID</th>
    <th>Redirect</th>
    <th>Clicks</th>
</thead>
<tbody>
    <% urls.forEach((url, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURl %></td>
            <td><%= url.visitHistory.length %></td>
       </tr>
    <% }) %>
</tbody>
</table>
<% } %>
</div>
</body>
</html>